 * {
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho de los elementos */
} 
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
body p {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    

    background: #83a4d4;  
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); 
    background: linear-gradient(to right, #b6fbff, #83a4d4); 
}

header {
    background: linear-gradient(90deg, rgba(238, 11, 11, 0.7) 34%, rgba(49, 140, 231, 0.87) 65%);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h4{margin: 20px;
    display:flex;
    flex-direction: column
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    align-items: center;
}
.boton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Para que los botones se acomoden en varias filas si son muchos */
    gap: 10px; /* Espacio entre los botones */
}

h2{
    margin: 20px;
    display:flex;
    flex-direction: column
}
h2{ margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}

.barra{
    width: 100%;
    height: 3px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.logo {
    width: 50px;
    height: auto;
}

main {
    flex: 1; /* Permite que el main ocupe el espacio restante */
    padding: 1rem; /* Añade algo de espacio alrededor del contenido */
}
main p{ text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}
.lugar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lugar iframe {
    border-radius: 5%;
    width: 100%; 
    margin: 10px;
    max-width: 600px; 
    height: 400px; 
}
.introducion h6{
    flex: 1;
    padding: 1rem ;
    margin-top: 10px;
    text-align: center;
}
img {
    display: block;         /* Para que la imagen se trate como un bloque */
    margin: 20px auto;      /* Centrar la imagen horizontalmente */
    width: 50%;             /* Ajusta el tamaño de la imagen (50% del ancho del contenedor) */
    height: auto;           /* Mantiene la proporción de la imagen */
}


.introducion p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding: 3%;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center; /* Esto centrará el texto */
    
}

.unca {
    display: flex;
    justify-content: center;
    align-items: center;
}
.unca img {
    width: 20%;
    height: auto;
    margin: 10px; /* Añade margen si quieres separación entre las imágenes */
}
.carrusel {
    max-width: 50%; /* Ajusta el ancho del carrusel */
    margin: 0 auto; /* Centra el carrusel */
}


footer {margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #343a40; /* Color de fondo del footer */
    color: white; /* Asegura que el footer esté al final */
}

footer p {
    color: white;
}
.botones a {
    display: block;
    margin: 10px auto; /* Centra los botones */
    width: 50%; /* Ajusta el tamaño de los botones */

}
#carousel-buttons a {
    margin-top: 10px;
    display: inline-block;
}



@media (max-width: 768px) 
 .navbar-collapse {
        position: fixed; /* Cambiado a fixed para que se deslice */
        top: 0;
    }
    .flayer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centra horizontalmente las imágenes */
        align-items: center; /* Alinea verticalmente las imágenes */
        gap: 10px; /* Espacio entre las imágenes */
    }
    
    .flayer img {
        max-width: 500px; /* Ajusta el tamaño máximo de las imágenes */
        height: auto;
        border-radius: 10px; /* Bordes redondeados opcionales */
    }
    .flayer video {
        max-width: 100%; /* El video ocupará el 100% del ancho disponible */
        height: auto; /* Mantendrá la proporción del video */
        border-radius: 10px; /* Opcional: bordes redondeados */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra alrededor del video */
    }
